a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_31d6b3e8 a { text-decoration: none; }
#menu_31d6b3e8_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_31d6b3e8_hr { background-color: #646464; height: 1px; border: none; }
#menu_31d6b3e8_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_31d6b3e8_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_31d6b3e8_entry:hover span { color:#FFFFFF !important; }
		.menu_31d6b3e8_mainMenuEntry { text-align: center; }
		.menu_31d6b3e8_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_31d6b3e8_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_31d6b3e8 .mobileEntry { display: none; } 
		#menu_31d6b3e8 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_31d6b3e8 .mobileEntry { display: block; } 
			#menu_31d6b3e8 .normalEntry { display: none; } 
		}
body { background-color:#9F7CA8; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_24a694d0 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background-color:#C0C0C0; border: 1px solid #404040; box-shadow: 5px 5px 4px 1px rgba(156, 120, 165, 0.588235);  }
#container_3eca7aab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:119px; background-color:#222222;  }
#container_3eca7aab_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_50fe4c2d { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:86px; background:none;  }
#container_50fe4c2d_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:28pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
#img_3198ceaa { vertical-align: bottom; position:relative; display: inline-block; width:15%; background:none;  }
#container_156dcde7 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_156dcde7_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_31d6b3e8 { vertical-align: bottom; position:relative; display: inline-block; width:866px; height:75px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:44px; height:75px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:64px;  }
.textstyle5 { font-size:36pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:72px; height:75px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:26px;  }
.textstyle6 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:99px; height:75px; left:82px;  }
.style6 { position:absolute; width:58px; height:75px; left:181px;  }
.style7 { position:absolute; width:66px; height:75px; left:239px;  }
.style8 { position:absolute; width:76px; height:75px; left:305px;  }
.style9 { position:absolute; width:76px; height:75px; left:381px;  }
.style10 { position:absolute; width:62px; height:75px; left:457px;  }
.style11 { position:absolute; width:115px; height:75px; left:519px;  }
.style12 { position:absolute; width:61px; height:75px; left:634px;  }
.style13 { position:absolute; width:82px; height:75px; left:695px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_12077a6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:349px; background-color:#AA967B; background-image: url(/afbeelding.jpg); background-position:bottom center; background-size:cover;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 4px #000000;  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle11 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
@media only screen and (max-width: 640px)
{
		#container_50fe4c2d * span { font-size:15pt;  }
		#menu_31d6b3e8 { width:50px;  }
		#container_433edc8a * span { font-size:24pt;  }
}
body {
    background-color: #2C2C2C;
    text-align: center;         /* make sure IE centers the page too */
}
 
#wrapper {
    width: 900px;
    margin: 0 auto;             /* center the page */
}
 
#content {
    background-color: #fff;
    border: 1px solid #000;
    float: left;
    font-family: Arial;
    padding: 20px 30px;
    text-align: left;
    width: 100%;                /* fill up the entire div */
}
 
#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        /* avoid a double border */
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
    width:100%;
    height:20px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
}
 
#menu a:hover {
    background-color: #009FC1;
}
 
#userbar {
    background-color: #fff;
    float: right;
    width: 250px;
}
 
#footer {
    clear: both;
}
 
/* begin table styles */
table {
    border-collapse: collapse;
    width: 100%;
}
 
table a {
    color: #000;
}
 
table a:hover {
    color:#373737;
    text-decoration: none;
}
 
th {
    background-color: #B40E1F;
    color: #F0F0F0;
}
 
td {
    padding: 5px;
}
 
/* Begin font styles */
h1, #footer {
    font-family: Arial;
    color: #F1F3F1;
}
 
h3 {margin: 0; padding: 0;}
 
/* Menu styles */
.item {
    background-color: #00728B;
    border: 1px solid #032472;
    color: #FFF;
    font-family: Arial;
    padding: 3px;
    text-decoration: none;
}
 
.leftpart {
    width: 70%;
}
 
.rightpart {
    width: 30%;
}
 
.small {
    font-size: 75%;
    color: #373737;
}
#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
}
 
.topic-post {
    height: 100px;
    overflow: auto;
}
 
.post-content {
    padding: 30px;
}
 
textarea {
    width: 500px;
    height: 200px;
}

